{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/stiles.css' %}>
    <title>Aplicacion</title>
</head>
<body>
    <nav>
        <div class="logo"> <img src= {% static 'src/Logo.png' %} alt="Logo"></div>
        <ul>
            <li><a href={% url 'home' %}>Inicio</a></li>
            <li><a href={% url 'exit' %}>Salir</a></li>
        </ul>
    </nav>

    {% block content %}{% endblock %}
</body>
</html>